/* fonts */
@font-face {
    font-family: 'PixelMplus';
    src: url('../fonts/PixelMplus12-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixelMplus';
    src: url('../fonts/PixelMplus12-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* fonts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'PixelMplus', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#stage {
    width: 100vw;
    height: 100vh;
    background: #aed4ffef;
    position: relative;
    overflow: hidden;
}

#qr-container {
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    z-index: 100;
    box-shadow: 0 4px 6px #58a6ffef;
}